@import '../../styles/mixins.scss';

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    color: #333333;
    font-size: 1.5rem;

    img {
        margin-bottom: 88px;
        height: 200px;
        width: 200px;
    }

    h2 {
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 20px;
    }
}